// Локальные переменные блока button
$min_height: 52px;
$color_active: #ffffff;
$background_color: #ffffff;
// button:hover
$color_hover: #ffffff;
$background_color_hover: #444444;

.button {
  @include font_character($font_size_button,
                          $line_height_button,
                          $font_weight_button,
                          $color_button);
  @include link_default_remove;

  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: $min_height;
  text-transform: uppercase;
  border: 2px solid $color_body;
  background-color: $background_color;
  font-family: $font_family;
  outline: none;

  @include for_desktop {
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $background_color_hover;
      color: $color_hover;
    }

    &:active {
      color: rgba($color: $color_active, $alpha: $active_opacity);
    }
  }
}
