.button {
  @include font_character($font_size_button,
                          $line_height_button,
                          $font_weight_button,
                          $color_button);
  @include link_default_remove;
  text-transform: uppercase;
  border: 2px solid $border_color_button;
  background-color: $background_white;
  font-family: $font_family;
}
