.catalog__list {
  @include for_tablet {
    padding-top: 27px;
  }

  @include for_desktop {
    padding-top: 128px;
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__item {
  margin-top: $padding_mobile;
  margin-bottom: $padding_mobile;

  @include for_tablet {
    margin-top: 54px;
    margin-bottom: 54px;
  }

  @include for_desktop {
    margin-top: 0;
    margin-bottom: 57px;

    &:not(:nth-child(3n)) {
      margin-right: $padding_desktop;
    }
  }
}
