// Локальные переменные блока categories
$background_color_link_interior: #63d1bb;
$background_color_link_toys: #56c3b2;
$color_link_active: #000000;

.categories {
  @include font_character($font_size_categories,
                          $line_height_categories,
                          $font_weight_categories,
                          $color_categories);
  @include list_default_remove;

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  margin-top: auto;

  @include for_tablet {
    @include font_character($font_size_categories_tablet,
                            $line_height_categories_tablet,
                            $font_weight_categories,
                            $color_categories);

    flex-direction: row;
    flex-wrap: wrap;
  }
}

.categories__inner {
  min-height: 206px;
}

.categories__link {
  @include link_default_remove;

  display: block;
  min-height: 103px;
  padding-left: 29px;
  padding-right: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    width: 70px;
    height: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &--interior {
    background-color: $background_color_link_interior;

    &::before {
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toys {
    background-color: $background_color_link_toys;

    &::before {
      background-image: url("../img/icon-toy.svg");

      @include for_tablet {
        top: 51%;
        right: 29px;
      }
    }
  }

  @include for_tablet {
    min-height: 119px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 36px;
  }

  @include for_desktop {
    padding-right: 66.67%;

    &:hover,
    &:focus {
      position: relative;
      top: -5px;
    }

    &:active {
      color: rgba($color: $color_link_active, $alpha: $active_opacity);
    }
  }
}

.categories__item {
  position: relative;

  @include for_tablet {
    width: 50%;
  }
}

.categories__item--interior {
  background-color: $background_color_link_interior;
}

.categories__item--toys {
  background-color: $background_color_link_toys;
}
