.comments__inner {
  padding-top: $padding_mobile;
  padding-bottom: $padding_mobile + 21;

  @include for_tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.comments__heading {
  @include font_character($font_size_heading,
                          $line_height_heading,
                          $font_weight_heading,
                          $color_heading);
  margin: 0;
  padding-bottom: $padding_mobile + 5;

  @include for_tablet {
    order: -2;
  }
}

.comments__content {
  @include font_character($font_size_comments_content,
                          $line_height_comments_content,
                          $font_weight_comments_content,
                          $color_comments_content);
  margin: 0;
  padding-bottom: $padding_mobile + 5;
}

.comments__author {
  padding-bottom: $padding_mobile + 5;
}

.comments__name {
  @include font_character($font_size_comments_author,
                          $line_height_comments_author,
                          $font_weight_comments_author,
                          $color_comments_author);
  margin: 0;
  padding-bottom: $padding_mobile - 15;
}

.comments__login {
  @include font_character($font_size_comments_login,
                          $line_height_comments_login,
                          $font_weight_comments_login,
                          $color_comments_login);
  margin: 0;
}

.comments__controls {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $padding_mobile + 8;

  @include for_tablet {
    margin-left: auto;
  }
}

.comments__button {
  display: block;
  width: $half;
  padding: 0;
  border: 1px solid $border_color;
  background-color: $background_white;
  font-size: $font_size_button + 1;
  color: $black;
}

.comments__button--prev {
  border-right: none;
}

.comments__arrow {
  fill: currentColor;
}

.comments__review {
  @include for_tablet {
    order: -1;
    margin-left: auto;
  }
}
