.comments__inner {
  padding-top: 29px;
  padding-bottom: 51px;

  @include for_tablet {
    display: flex;
    flex-wrap: wrap;
    padding-top: 76px;
    padding-bottom: 85px;
  }

  @include for_desktop {
    padding-left: $padding_desktop * 4 + 25px;
    padding-bottom: $padding_desktop + 40;
  }
}

.comments__heading {
  @include font_character($font_size_heading,
                          $line_height_heading,
                          $font_weight_heading,
                          $color_heading);
  margin: 0;
  margin-left: -2px;
  padding-bottom: 25px;

  @include for_tablet {
    @include font_character($font_size_heading_tablet,
                            $line_height_heading_tablet,
                            $font_weight_heading_tablet,
                            $color_heading_tablet);

    order: -2;
    margin-left: -4px;
    padding-bottom: $padding_tablet;
  }
}

.comments__content {
  @include font_character($font_size_comments_content,
                          $line_height_comments_content,
                          $font_weight_comments_content,
                          $color_comments_content);
  margin: 0;
  padding-bottom: 27px;

  @include for_tablet {
    @include font_character($font_size_comments_content_tablet,
                            $line_height_comments_content_tablet,
                            $font_weight_comments_content_tablet,
                            $color_comments_content_tablet);

    padding-bottom: 57px;
  }

  @include for_desktop {
    padding-bottom: $padding_desktop;
  }
}

.comments__author {
  padding-bottom: 29px;

  @include for_tablet {
    padding-bottom: 46px;
    margin-left: -1px;
  }

  @include for_desktop {
    padding-bottom: $padding_desktop + $padding_desktop;
  }
}

.comments__name {
  @include font_character($font_size_comments_author,
                          $line_height_comments_author,
                          $font_weight_comments_author,
                          $color_comments_author);
  margin: 0;
  padding-bottom: 3px;

  @include for_tablet {
    @include font_character($font_size_comments_author_tablet,
                          $line_height_comments_author_tablet,
                          $font_weight_comments_author_tablet,
                          $color_comments_author_tablet);

    padding-bottom: 4px;
  }
}

.comments__login {
  @include font_character($font_size_comments_login,
                          $line_height_comments_login,
                          $font_weight_comments_login,
                          $color_comments_login);
  margin: 0;
}

.comments__controls {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 38px;

  @include for_tablet {
    margin-left: auto;
    padding-bottom: 0;
    padding-top: 3px;
    align-self: flex-start;
  }
}

.comments__button {
  display: block;
  width: $half;
  min-height: 52px;
  padding: 0;
  padding-right: 4px;
  padding-top: 2px;
  border: 1px solid $border_color;
  background-color: $background_white;
  font-size: $font_size_button + 1;
  color: $black;

  @include for_tablet {
    border: none;
    padding-left: 19px;
    padding-right: 19px;
  }
}

.comments__button--prev {
  border-right: none;
}

.comments__arrow {
  fill: currentColor;
}

.comments__review {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 52px;

  @include for_tablet {
    order: -1;
    margin-left: auto;
    margin-top: 3px;
    align-self: flex-start;
    min-width: 175px;
  }
}
