.contacts {
  position: relative;
}

.contacts__inner {
  padding-top: 35px;
  padding-bottom: 40px;

  @include for_tablet {
    padding-top: 11px;
    padding-bottom: 57px;
  }

  @include for_desktop {
    position: relative;
    padding-top: 90px;
    padding-bottom: 105px;
    padding-left: 225px;
    padding-right: 31%;
  }
}

.contacts__heading {
  @include font_character($font_size_contacts_heading,
                          $line_height_contacts_heading,
                          $font_weight_contacts_heading,
                          $color_contacts_heading);
  margin: 0;
  margin-left: -2px;
  padding-bottom: 26px;

  @include for_tablet {
    @include font_character($font_size_heading_tablet,
                            $line_height_heading_tablet,
                            $font_weight_heading,
                            $color_heading);

    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    margin-left: -5px;

    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 99.4% 52%;
  }

  @include for_desktop {
    @include font_character($font_size_heading_desktop,
                            $line_height_heading_desktop,
                            $font_weight_heading,
                            $color_heading);

    padding-bottom: 49px;
    padding-right: 10px;

    position: relative;
    background: none;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      top: 33px;
      left: -134px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.contacts__list {
  @include list_default_remove;
  @include font_character($font_size_contacts_list,
                          $line_height_contacts_list,
                          $font_weight_contacts_list,
                          $color_contacts_list);

  @include for_tablet {
    @include font_character($font_size_contacts_list_tablet,
                            $line_height_contacts_list,
                            $font_weight_contacts_list,
                            $color_contacts_list);
  }
}

.contacts__inner > .contacts__list {
  padding-bottom: 36px;

  @include for_tablet {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: 51px;
  }

  @include for_desktop {
    padding-bottom: 74px;
  }
}

.contacts__item--email {
  @include link_default_remove;
  border-bottom: 1px solid $border_color_email;
  margin-left: -3px;

  @include for_tablet {
    margin-left: 0;
  }

  @include for_desktop {
    &:hover,
    &:focus {
      color: $turquoise_hover;
    }

    &:active {
      opacity: $active_opacity;
    }
  }
}

.contacts__item--list {
  &:not(:last-child) {
    padding-bottom: $padding_mobile;
  }

  @include for_tablet {
    width: 50%;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  @include for_desktop {
    padding-right: 5px;
    width: auto;

    &:not(:last-child) {
      padding-bottom: 30px;
    }
  }
}

.contacts__item--list .contacts__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.contacts__item--list .contacts__item {
  &:first-child {
    width: 67px;
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 13px;

    @include for_tablet {
      padding-left: 11px;
    }
  }
}

.contacts__map-wrapper {
  position: absolute;
  bottom: 131px;
  width: 100%;
  height: 457px;
  overflow: hidden;
  background-color: $dirty_white_1;

  background-image: url("../img/map-mobile@1x.jpg");

  @include for_retina {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  background-size: cover;
  background-position: 50% 50%;

  @include for_tablet {
    bottom: 109px;
    margin-bottom: 55px;
  }

  @include for_desktop {
    position: absolute;
    width: 526px;
    top: 70px;
    left: 49.9%;
    padding: 0;
  }
}

.contacts__map {
  width: 100%;
  height: 100%;
}

.contacts__image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 457px;
  margin: 0 auto;

  @include for_desktop {
    width: 526px;
  }
}

.contacts__button {
  margin-top: 497px;

  @include for_tablet {
    width: 230px;
    margin-top: 511px;
    margin-left: auto;
    margin-right: auto;
  }

  @include for_desktop {
    margin: 0;
  }
}
