.contacts__heading {
  @include font_character($font_size_heading,
                          $line_height_heading,
                          $font_weight_heading,
                          $color_heading);
  margin: 0;
  font-size: $font_size_heading - 7;
}

.contacts__list {
  @include list_default_remove;
  @include font_character($font_size_contacts_list,
                          $line_height_contacts_list,
                          $font_weight_contacts_list,
                          $color_contacts_list);
}

.contacts__item--email {
  @include link_default_remove;
  border-bottom: 1px solid $border_color_email;
}
