.features__inner {
  padding-top: 28px;
  padding-bottom: 25px;

  @include for_tablet {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @include for_desktop {
    padding-top: 59px;
    padding-bottom: 80px;
    padding-left: 225px;
    padding-right: 225px;
  }
}

.features__heading {
  @include font_character($font_size_heading,
                          $line_height_heading,
                          $font_weight_heading,
                          $color_heading);
  margin: 0;
  margin-left: -2px;
  padding-bottom: 3px;

  @include for_tablet {
    @include font_character($font_size_features_heading_tablet,
                            $line_height_features_heading_tablet,
                            $font_weight_features_heading_tablet,
                            $color_features_heading_tablet);
    margin-left: -4px;
  }

  @include for_desktop {
    @include font_character($font_size_features_heading_desktop,
                            $line_height_features_heading_desktop,
                            $font_weight_features_heading_desktop,
                            $color_features_heading_desktop);
    padding-bottom: 2px;
  }
}

.features__list {
  @include list_default_remove;
  @include font_character($font_size_features_list,
                          $line_height_features_list,
                          $font_weight_features_list,
                          $color_features_list);

  @include for_tablet {
    @include font_character($font_size_features_list_tablet,
                            $line_height_features_list_tablet,
                            $font_weight_features_list_tablet,
                            $color_features_list_tablet);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.features__item {
  padding-top: 83px;

  @include for_tablet {
    width: 50%;
    padding-top: 100px;
    margin-bottom: 10px;
    padding-right: 10px;

    &--eco {
      order: 1;
    }

    &--handmade {
      order: 2;
    }

    &--price {
      order: 3;
    }

    &--patriot {
      order: 4;
    }

    &--socials {
      order: 5;
    }

    &--packing {
      order: 6;
    }
  }

  @include for_desktop {
    width: 50%;
    padding-right: 10px;

    &--eco {
      order: 1;
    }

    &--handmade {
      order: 2;
    }

    &--price {
      order: 3;
    }

    &--patriot {
      order: 4;
    }

    &--socials {
      order: 5;
    }

    &--packing {
      order: 6;
    }
  }
}
