// Локальные переменные блока footer
$bgc_footer: #f1f1f1; // bgc -background-color
$clr_logo: #000000; // clr - color
$clr_logo_hover: #46c1ae; // clr - color
$brd-clr_copyright: #e5e5e5; // brd-clr - border-color
$clr_copyright-link: #7ae7d1; // clr - color
$clr_copyright-link_hover: #46c1ae; // clr - color

.footer {
  background-color: $bgc_footer;
}

.footer__inner {
  padding-bottom: 23px;

  @include for_tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 33px;
  }
}

.footer__svg {
  fill: currentColor;
}

.footer__logo {
  display: none;
  outline: none;
  color: $clr_logo;

  @include for_tablet {
    display: block;
  }

  @include for_desktop {
    &:hover:not(.footer__logo--current),
    &:focus:not(.footer__logo--current) {
      color: $clr_logo_hover;
    }

    &:active:not(.footer__logo--current) {
      opacity: $active_opacity;
    }
  }
}

.footer__socials {
  @include for_tablet {
    margin-left: auto;
    margin-right: 82px;
  }

  @include for_desktop {
    margin-right: 274px;
  }
}

.footer__copyright {
  @include font_character($font_size_footer_copyright,
                          $line_height_footer_copyright,
                          $font_weight_footer_copyright,
                          $color_footer_copyright);
  margin: 0;
  margin-top: -4px;
  border-top: 1px solid $brd-clr_copyright;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @include for_tablet {
    border-top: none;
    padding-top: 0;
    margin-top: 5px;
  }
}

.footer__copyright-link {
  color: $clr_copyright-link;
  margin-left: 29px;
  margin-top: 6px;
  outline: none;

  @include for_desktop {
    &:hover,
    &:focus {
      color: $clr_copyright-link_hover;
    }

    &:active {
      opacity: $active_opacity;
    }
  }
}

.footer__copyright-logo {
  fill: currentColor;
}
