.header {
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;

  @include for_tablet {
    border-top: none;
    height: 89px;
  }

  @include for_desktop {
    border-top: none;
  }
}

// .header__inner переопределяет отступы блока inner из-за особенностей мобильной версии
.header__inner {
  padding-left: 0;
  padding-right: 0;

  @include for_tablet {
    padding-left: $padding_tablet;
    padding-right: $padding_tablet;
  }

  @include for_desktop {
    padding-left: $padding_desktop;
    padding-right: $padding_desktop;
  }
}

.header__logo {
  margin-top: 21px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: 66px;

  @include for_tablet {
    margin-left: -2px;
    margin-right: auto;
  }

  @include for_desktop {
    margin-left: auto;
    margin-right: auto;
  }
}

.header__button {
  @include only_mobile;

  position: relative;
  width: 21px;
  height: 20px;
  align-self: center;
  margin-right: 31px;
  background-color: transparent;
  border: none;
}

.header__nav--closed {
  .nav__list {
    display: none;

    @include for_tablet {
      display: flex;
    }
  }

  .header__button::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 0;
    width: 21px;
    height: 2px;
    background-color: black;
    box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
  }
}

.header__nav--opened {
  .nav__list {
    display: block;

    @include for_tablet {
      display: flex;
    }
  }

  .header__button::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -2px;
    width: 26px;
    height: 2px;
    background-color: black;
    box-shadow: none;
    transform: rotate(44deg);
  }

  .header__button::after {
    content: "";

    position: absolute;
    top: 8px;
    left: -2px;
    width: 26px;
    height: 2px;
    background-color: black;
    box-shadow: none;
    transform: rotate(-44deg);
  }
}

.header__nav--nojs {
  .header__button {
    display: none;
  }

  .nav__list {
    display: block;
  }

  .header__logo {
    margin-right: 118px;
  }
}
