// Частные переменные блока header
// header
// tablet
$header_h_tablet: 89px;  //h - height
// header__logo
// mobile
$logo_mt_mobile: 21px; //mt - margin-top
$logo_mb_mobile: 16px; //mb - margin-bottom
$logo_mr_mobile: 66px; //mr - margin-right
// tablet
$logo_w_tablet: 113px; //w - width
$logo_h_tablet: 46px; //h - height
$logo_ml_tablet: -2px; //ml - margin-left
// desktop
$logo_w_desktop: 149px; //w - width
$logo_h_desktop: 72px; //h - height
$logo_mt_desktop: 9px; //mt - margin-top
$logo_mb_desktop: 6px; //mb - margin-bottom
// header__button
// mobile
$button_w_mobile: 21px; //w - width
$button_h_mobile: 20px; //h - height
$button_mr_mobile: 31px; //mr - margin-right
//nav--closed button::before
$button_closed_t_before: 2px; //t - top
$button_closed_w_before: 21px; //w - width
$button_closed_h_before: 2px; //h - height
$button_closed_bgc_before: #000000; //bgc - background-color
$button_closed_bxshdw_before: 0 6px 0 0 #000000, 0 12px 0 0 #000000; // bxshdw - box-shadow
//nav--opened button::before button::after
$button_opened_t_before_after: 8px; //t - top
$button_opened_l_before_after: -2px; //l - left
$button_opened_w_before_after: 26px; //w - width
$button_opened_h_before_after: 2px; //h - height
$button_opened_bgc_before_after: #000000; //bgc - background-color
//nav--opened button::before
$button_opened_rotate_before: 44deg; //transform: rotate($);
//nav--opened button::after
$button_opened_rotate_after: -44deg; //transform: rotate($);
// header__nav--nojs
// header__logo
$logo_mr_nojs: 118px; //mr - margin-right

.header {
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;

  @include for_tablet {
    border-top: none;
    height: $header_h_tablet;
  }

  @include for_desktop {
    border-top: none;
  }
}

// .header__inner переопределяет отступы блока inner из-за особенностей мобильной версии
.header__inner {
  padding-left: 0;
  padding-right: 0;

  @include for_tablet {
    padding-left: $padding_tablet;
    padding-right: $padding_tablet;
  }

  @include for_desktop {
    padding-left: $padding_desktop;
    padding-right: $padding_desktop;
  }
}

.header__logo {
  margin-top: $logo_mt_mobile;
  margin-bottom: $logo_mb_mobile;
  margin-left: auto;
  margin-right: $logo_mr_mobile;
  outline: none;

  &:hover,
  &:focus {
    opacity: $hover_opacity;
  }

  &:active {
    opacity: $active_opacity;
  }

  @include for_tablet {
    width: $logo_w_tablet;
    height: $logo_h_tablet;
    margin-left: $logo_ml_tablet;
    margin-right: auto;
  }

  @include for_desktop {
    width: $logo_w_desktop;
    height: $logo_h_desktop;
    margin-left: auto;
    margin-right: auto;
    margin-top: $logo_mt_desktop;
    margin-bottom: $logo_mb_desktop;
  }
}

.header__button {
  @include only_mobile;

  position: relative;
  width: $button_w_mobile;
  height: $button_h_mobile;
  align-self: center;
  margin-right: $button_mr_mobile;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    opacity: $hover_opacity;
  }

  &:active {
    opacity: $active_opacity;
  }
}

.header__nav--closed {
  .nav__list {
    display: none;

    @include for_tablet {
      display: flex;
    }
  }

  .header__button::before {
    content: "";

    position: absolute;
    top: $button_closed_t_before;
    left: 0;
    width: $button_closed_w_before;
    height: $button_closed_h_before;
    background-color: $button_closed_bgc_before;
    box-shadow: $button_closed_bxshdw_before;
  }
}

.header__nav--opened {
  .nav__list {
    display: block;

    @include for_tablet {
      display: flex;
    }
  }

  .header__button::before,
  .header__button::after {
    content: "";

    position: absolute;
    top: $button_opened_t_before_after;
    left: $button_opened_l_before_after;
    width: $button_opened_w_before_after;
    height: $button_opened_h_before_after;
    background-color: $button_opened_bgc_before_after;
    box-shadow: none;
  }

  .header__button::before {
    transform: rotate($button_opened_rotate_before);
  }

  .header__button::after {
    transform: rotate($button_opened_rotate_after);
  }
}

.header__nav--nojs {
  .header__button {
    display: none;
  }

  .nav__list {
    display: block;
  }

  .header__logo {
    margin-right: $logo_mr_nojs;
  }
}
