// Частные переменные блока header
// header
// tablet
$header_height_tablet: 89px;
// logo
$color_logo_hover: $black;
$color_logo_active: $black;
//nav--closed button::before
$button_closed_background_color_before: $black;
$button_closed_box_shadow_before: 0 6px 0 0 $black, 0 12px 0 0 $black;
//nav--opened button::before button::after
$button_opened_background_color_before_after: $black;
//nav--opened button::before
$button_opened_rotate_before: 44deg;
//nav--opened button::after
$button_opened_rotate_after: -44deg;

.header {
  border-top: 1px solid $border_color;
  border-bottom: 1px solid $border_color;

  @include for_tablet {
    border-top: none;
    height: $header_height_tablet;
  }
}

.header__inner {
  padding-left: 0;
  padding-right: 0;

  @include for_tablet {
    // height: 89px;
    padding-left: $padding_tablet;
    padding-right: $padding_tablet;
  }

  @include for_desktop {
    padding-left: $padding_desktop;
    padding-right: $padding_desktop;
  }
}

.header__logo {
  margin-top: 21px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: 66px;
  outline: none;

  @include for_tablet {
    margin: auto auto 15px -2px;
  }


  @include for_desktop {
    margin: auto;
    padding-top: 6px;
    padding-right: 22px;

    &:hover:not(.header__logo--active),
    &:focus:not(.header__logo--active) {
      opacity: $hover_opacity;
    }

    &:active:not(.header__logo--active) {
      opacity: $active_opacity;
    }
  }
}

.header__logo-image {
  @include for_tablet {
    width: 113px;
  }

  @include for_desktop {
    width: 149px;
  }
}

.header__button {
  @include only_mobile;

  position: relative;
  width: 21px;
  height: 20px;
  align-self: center;
  margin-right: 31px;
  background-color: transparent;
  border: none;
  outline: none;

  @include for_desktop {
    &:hover,
    &:focus {
      opacity: $hover_opacity;
    }

    &:active {
      opacity: $active_opacity;
    }
  }
}

.header__nav {
  @include for_tablet {
    height: 89px;
  }
}

.header__nav--closed {
  .nav__list {
    display: none;

    @include for_tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 10;
    }
  }

  .header__button::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 0;
    width: 21px;
    height: 2px;
    background-color: $button_closed_background_color_before;
    box-shadow: $button_closed_box_shadow_before;
  }
}

.header__nav--opened {
  .nav__list {
    display: block;

    @include for_tablet {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }
  }

  .header__button::before,
  .header__button::after {
    content: "";

    position: absolute;
    top: 8px;
    left: -2px;
    width: 26px;
    height: 2px;
    background-color: $button_opened_background_color_before_after;
    box-shadow: none;
  }

  .header__button::before {
    transform: rotate($button_opened_rotate_before);
  }

  .header__button::after {
    transform: rotate($button_opened_rotate_after);
  }
}

.header__nav--nojs {
  .header__button {
    display: none;
  }

  .nav__list {
    display: block;

    @include for_desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header__logo {
    margin-right: auto;
  }
}

.header__label {
  @include font-character($font_size_label,
                          $line_height_label,
                          $font_weight_label,
                          $color_label);

  display: none;
  margin: 0;

  @include for_tablet {
    display: block;
    margin-left: auto;
  }
}

.header__extra {
  @include for_tablet {
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    min-height: 58px;
    padding: 17px 0;
    margin-left: auto;
  }

  @include for_desktop {
    width: 100%;
  }
}
