.highlight__inner {
  padding-top: $padding_mobile - 4;
  padding-bottom: $padding_mobile + 12;

  @include for_tablet {
    padding-top: $padding_tablet - 7;
    padding-bottom: $padding_tablet + 18;
  }

  @include for_desktop {
    padding-top: $padding_desktop + $padding_desktop + 17;
    padding-bottom: $padding_desktop + 46;
  }

  display: flex;
  flex-direction: column;
}

.highlight__header {
  @include for_tablet {
    display: flex;
    justify-content: space-between;
    padding-bottom: $padding_tablet + 5;
  }

  @include for_desktop {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-bottom: $padding_desktop + 2;
  }
}

.highlight__heading {
  @include font_character($font_size_heading,
                          $line_height_heading,
                          $font_weight_heading,
                          $color_heading);
  margin: 0;
  padding-bottom: 6px;

  @include for_tablet {
    padding-bottom: 0;
  }
}

.highlight__naming {
  @include font_character($font_size_highlight_naming,
                          $line_height_highlight_naming,
                          $font_weight_highlight_naming,
                          $color_highlight_naming);
  margin: 0;
  margin-left: -1px;
  text-transform: uppercase;
  padding-bottom: $padding_mobile - 7;

  @include for_tablet {
    padding-bottom: 0;
  }
}

.highlight__content {
  @include for_tablet {
    position: relative;
    padding-right: 377px;
  }

  @include for_desktop {
    padding-left: $padding_desktop + $padding_desktop + $padding_desktop + 25;
    padding-right: 583px;
  }
}

.highlight__description {
  @include font_character($font_size_highlight_description,
                          $line_height_highlight_description,
                          $font_weight_highlight_description,
                          $color_highlight_description);
  margin: 0;
  padding-bottom: 18px;

  @include for_tablet {
    padding-bottom: $padding_tablet + 5;
  }

  @include for_desktop {
    padding-bottom: $padding_desktop + 15;
  }
}

.highlight__table {
  @include font_character($font_size_highlight_table,
                          $line_height_highlight_table,
                          $font_weight_highlight_table,
                          $color_highlight_table);
  width: 100%;
  border-collapse: collapse;

  @include for_tablet {
    padding-bottom: $padding_tablet + 10;
  }

  @include for_desktop {
    padding-bottom: $padding_desktop + $padding_desktop + 10;
  }
}

.highlight__row {
  border-bottom: 1px solid $border_color;
}

.highlight__cell {
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;

  &:first-child {
    width: 37.69%;
  }
}

.highlight__image-wrapper {
  background-color: $background_footer;
  margin-top: 28px;
  margin-bottom: 24px;

  // временные стили
  width: 260px;
  height: 315px;

  @include for_tablet {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 0;
  }
}

.highlight__price {
  font-weight: bold;
  margin: 0;
  padding-right: 4px;
  margin-bottom: 26px;
  text-align: center;

  @include for_tablet {
    padding-bottom: $padding_tablet - 15;
  }

  @include for_desktop {
    padding-bottom: $padding_desktop - 15;
  }
}

.highlight__button {
  margin-right: 1px;
  min-height: 52px;
  padding-top: 14px;
  padding-bottom: 14px;
}
