// Локальные переменные блока modal
$bgc_overlay: #ffffff; // bgc - background-color
$alpha_overlay: 0.9; // alpha - alpha from rgba

$bxshdw_inner: 0 5px 10px 0 rgba($color: #000101, $alpha: 0.25); // bxshdw - box-shadow

$brdr_clr_radio_checked: #ececec; // brdr_clr - border-color
$alpha_radio_checked: 0.1; // alpha - alpha from rgba

$brdr_clr_radio_hover: #ececec; // brdr_clr - border-color
$alpha_radio_hover: 0.3; // alpha - alpha from rgba

$brdr_clr_radio_active: #62d1ba; // brdr_clr - border-color
$alpha_radio_active: 1; // alpha - alpha from rgba

$bgc_button: #63d1bb; // bgc - background-color

.modal {
  display: none;
}

.modal--show {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.modal__overlay--show {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: $bgc_overlay, $alpha: $alpha_overlay);
}

.modal__inner {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid $border_color_modal;
  box-shadow: $bxshdw_inner;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 46px;
  padding-left: 29px;
  padding-right: 29px;
  background-color: #ffffff;

  @include for_tablet {
    width: 568px;
    padding-top: 33px;
    padding-left: 106px;
    padding-right: 106px;
  }
}

.modal__heading {
  @include font_character($font_size_heading,
                          $line_height_heading,
                          $font_weight_heading,
                          $color_heading);
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  text-transform: uppercase;
  padding-bottom: 12px;

  @include for_tablet {
    @include font_character($font_size_heading_modal_tablet,
                            $line_height_heading_modal_tablet,
                            $font_weight_heading_modal_tablet,
                            $color_heading_modal_tablet);
    margin: 0;
    padding-bottom: 14px;
  }
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  @include for_tablet {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.modal__query {
  @include font_character($font_size_modal_query,
                          $line_height_modal_query,
                          $font_weight_modal_query,
                          $color_modal_query);
  margin: 0;
  padding-bottom: 23px;

  @include for_tablet {
    @include font_character($font_size_modal_query_tablet,
                            $line_height_modal_query_tablet,
                            $font_weight_modal_query_tablet,
                            $color_modal_query_tablet);
    padding-top: 0;
    padding-bottom: 21px;
  }
}

.modal__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 21px;
}

.modal__description {
  @include font_character($font_size_modal_description,
                          $line_height_modal_description,
                          $font_weight_modal_description,
                          $color_modal_description);
  border: 2px solid $border_color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 82px;
  min-height: 52px;
  margin-bottom: 10px;

  &:not(:nth-of-type(3n)) {
    margin-right: 7px;
  }

  @include for_tablet {
    width: 112px;
  }
}

.modal__radio {

  &:checked + .modal__description {
    border: 2px solid rgba($color: $brdr_clr_radio_checked, $alpha: $alpha_radio_checked);
  }

  &:hover + .modal__description,
  &:focus + .modal__description {
    border: 2px solid rgba($color: $brdr_clr_radio_hover, $alpha: $alpha_radio_hover);
  }

  &:active + .modal__description,
  &:checked + .modal__description {
    border: 2px solid rgba($color: $brdr_clr_radio_active, $alpha: $alpha_radio_active);
  }
}

.modal__button {
  @include font_character($font_size_modal_button,
                          $line_height_modal_button,
                          $font_weight_modal_button,
                          $color_modal_button);
  background-color: $bgc_button;
  width: 100%;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}
