.modal__inner {
  border: 1px solid $border_color_modal;
  box-shadow: 0px 5px 10px 0 rgba(0, 1, 1, 0.25);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 46px;
  padding-left: 29px;
  padding-right: 29px;

  @include for_tablet {
    width: 568px;
    padding-top: 33px;
    padding-left: 106px;
    padding-right: 106px;
  }
}

.modal__heading {
  @include font_character($font_size_heading,
                          $line_height_heading,
                          $font_weight_heading,
                          $color_heading);
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
  text-transform: uppercase;
  padding-bottom: 12px;

  @include for_tablet {
    @include font_character($font_size_heading_tablet,
                            $line_height_heading_tablet,
                            $font_weight_heading_tablet,
                            $color_heading_tablet);
    margin: 0;
    padding-bottom: 14px;
  }
}

.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0;

  @include for_tablet {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.modal__query {
  @include font_character($font_size_modal_query,
                          $line_height_modal_query,
                          $font_weight_modal_query,
                          $color_modal_query);
  margin: 0;
  padding-bottom: 23px;

  @include for_tablet {
    @include font_character($font_size_modal_query_tablet,
                            $line_height_modal_query_tablet,
                            $font_weight_modal_query_tablet,
                            $color_modal_query_tablet);
    padding-top: $padding_tablet - 25;
    padding-top: 0;
    padding-bottom: 21px;
  }
}

.modal__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 21px;
}

.modal__description {
  @include font_character($font_size_modal_description,
                          $line_height_modal_description,
                          $font_weight_modal_description,
                          $color_modal_description);
  border: 2px solid $border_color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 82px;
  min-height: 52px;
  margin-bottom: 10px;

  &:not(:nth-of-type(3n)) {
    margin-right: 7px;
  }

  @include for_tablet {
    width: 112px;
  }
}

.modal__radio {
  display: none;

  &:checked + .modal__description {
    border: 2px solid rgba($color: $border_color, $alpha: 0.1);
  }

  &:hover + .modal__description,
  &:focus + .modal__description, {
    border: 2px solid rgba($color: $border_color, $alpha: 0.3);
  }

  &:active + .modal__description,
  &:checked + .modal__description {
    border: 2px solid rgba($color: #62d1ba, $alpha: 1);
  }
}

.modal__button {
  @include font_character($font_size_modal_button,
                          $line_height_modal_button,
                          $font_weight_modal_button,
                          $color_modal_button);
  background-color: $turquoise;
  width: $full;
  min-height: 52px;
  vertical-align: middle;
  border: none;
  text-transform: uppercase;
}
