// Частные переменные блока nav
// nav__link
// mobile
$link_min_height_mobile: 79px;
//tablet
$link_min_height_tablet: 89px;
// nav__link
$nav_link_color: $black;

.nav {
  @include font_character($font_size_nav,
                          $line_height_nav,
                          $font_weight_nav,
                          $color_nav);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
}

.nav__list {
  @include list_default_remove;

  width: 100%;

  @include for_tablet {
    width: auto;

    &--categories {
      order: 1;
    }
  }

  @include for_desktop {
    &--categories {
      order: -1;
    }
  }
}

.nav__link {
  @include link_default_remove;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
  min-height: $link_min_height_mobile;
  padding-left: 75px;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid $border_color;

  @include for_tablet {
    justify-content: center;
    min-height: $link_min_height_tablet;
    padding-top: 30px;
    padding-bottom: 35px;
    border-top: none;
    border-left: 1px solid $border_color;
  }

  @include for_desktop {
    &:hover,
    &:focus {
      color: rgba($color: $nav_link_color, $alpha: $hover_opacity);
    }

    &:active {
      color: rgba($color: $nav_link_color, $alpha: $active_opacity);
    }
  }
}

.nav__list--categories {
  .nav__item {
    &:not(:last-child) {
      @include for_desktop {
        padding-right: 35px;
      }
    }

    &:not(:first-child) {
      @include for_desktop {
        padding-left: 35px;
        border-left: 1px solid $border_color;
      }
    }
  }

  .nav__link {
    @include for_tablet {
      @include font_character($font_size_nav_tablet,
                              $line_height_nav,
                              $font_weight_nav,
                              $color_nav);
      width: 167px;
      min-height: 58px;
      padding-top: 17px;
      padding-left: 0;
      padding-bottom: 25px;
      border-left: none;
      justify-content: flex-start;
    }

    @include for_desktop {
      @include font_character($font_size_nav,
                            $line_height_nav,
                            $font_weight_nav,
                            $color_nav);

      padding-bottom: 38px;
      padding-top: 30px;
      flex-wrap: wrap;
      align-items: center;
      min-height: 89px;
      width: auto;

      &:hover:not(.nav__link--active),
      &:focus:not(.nav__link--active) {
        color: rgba($color: $nav_link_color, $alpha: $hover_opacity);
      }

      &:active:not(.nav__link--active) {
        color: rgba($color: $nav_link_color, $alpha: $active_opacity);
      }
    }
  }
}

.nav__link:hover:not(.nav__link--active) .nav__wrapper-icon,
.nav__link:focus:not(.nav__link--active) .nav__wrapper-icon {
  @include for_desktop {
    color: $color_icon_hover;
    opacity: 1;
  }
}

.nav__link:active:not(.nav__link--active) .nav__wrapper-icon {
  @include for_desktop {
    opacity: $active_opacity;
  }
}

.nav__list--user-menu .nav__link {
  @include for_tablet {
    padding-left: 83px;
  }

  @include for_desktop {
    padding-left: 82px;
    padding-right: 2px;
  }
}

.nav__wrapper-icon {
  position: absolute;
  opacity: 0.2;
}

.nav__icon {
  fill: currentColor;
}

.nav__item--searching {
  @include for_tablet {
    font-size: 0;
  }

  .nav__wrapper-icon {
    top: 39%;
    left: 33px;

    @include for_tablet {
      top: 41%;
      left: 36px;
    }
  }

  .nav__link {
    position: relative;
  }
}

.nav__item--cart {
  .nav__wrapper-icon {
    top: 37%;
    left: 30px;

    @include for_tablet {
      top: 38%;
      left: 33px;
    }
  }

  .nav__link {
    position: relative;
  }
}
