// Частные переменные блока nav
// nav__link
// mobile
$link_min_height_mobile: 79px;
//tablet
$link_min_height_tablet: 89px;
// nav__link:hover
$link_color_hover: #000000;
// nav__link:active
$link_color_active: #000000;

.nav {
  @include font_character($font_size_nav,
                          $line_height_nav,
                          $font_weight_nav,
                          $color_nav);
  display: flex;
  flex-wrap: wrap;
}

.nav__list {
  @include list_default_remove;

  width: 100%;

  @include for_tablet {
    width: auto;
    display: flex;

    &--categories {
      order: 1;
    }

    @include for_desktop {
      &--categories {
        order: -1;
      }
    }
  }
}

.nav__link {
  @include link_default_remove;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: $link_min_height_mobile;
  padding-left: 75px;
  padding-bottom: 2px;
  border-top: 1px solid $border_color;

  @include for_tablet {
    justify-content: center;
    min-height: $link_min_height_tablet;
    padding-bottom: 4px;
    border-top: none;
    border-left: 1px solid $border_color;
  }

  @include for_desktop {
    &:hover,
    &:focus {
      color: rgba($color: $link_color_hover, $alpha: $hover_opacity);
    }

    &:active {
      color: rgba($color: $link_color_active, $alpha: $active_opacity);
    }
  }
}

.nav__list--categories {
  .nav__item {
    &:not(:last-child) {
      @include for_desktop {
        padding-right: 35px;
      }
    }

    &:not(:first-child) {
      @include for_desktop {
        padding-left: 35px;
        border-left: 1px solid $border_color;
      }
    }
  }

  .nav__link {
    @include for_tablet {
      @include font_character($font_size_nav_tablet,
                              $line_height_nav,
                              $font_weight_nav,
                              $color_nav);
      width: 167px;
      min-height: 58px;
      padding-left: 0;
      padding-bottom: 0;
      border-left: none;
      justify-content: flex-start;
    }

    @include for_desktop {
      @include font_character($font_size_nav,
                            $line_height_nav,
                            $font_weight_nav,
                            $color_nav);

      padding-bottom: 4px;
      flex-wrap: wrap;
      align-items: center;
      min-height: 89px;
      width: auto;

      &:hover:not(.nav__link--active),
      &:focus:not(.nav__link--active) {
        color: rgba($color: $link_color_hover, $alpha: $hover_opacity);
      }

      &:active:not(.nav__link--active) {
        color: rgba($color: $link_color_active, $alpha: $active_opacity);
      }
    }
  }
}

.nav__list--user-menu .nav__link {
  @include for_tablet {
    padding-left: 83px;
  }

  @include for_desktop {
    padding-left: 82px;
    padding-right: 2px;
  }
}

.nav__item--searching {
  @include for_tablet {
    font-size: 0;
  }
}

.nav__item--searching .nav__link {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    content: "";
    width: 20px;
    height: 20px;
    color: #d3d2d2;

    background: url("../img/icon-search.svg") 100% 100% no-repeat;

    @include for_tablet {
      left: 33px;
    }
  }
}

.nav__item--cart .nav__link {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    content: "";
    width: 21px;
    height: 18px;
    color: #d3d2d2;

    background: url("../img/icon-cart.svg") 50% 50% no-repeat;

    @include for_tablet {
      top: 49%;
      left: 32px;
    }
  }
}
