.order__inner {
  padding-top: 15px;
  padding-bottom: 15px;

  @include for_tablet {
    padding-top: $padding_tablet;
    padding-bottom: $padding_tablet;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &--induction {
    padding-top: 22px;
    padding-bottom: 0;

    @include for_tablet {
      padding-top: 75px;
    }

    @include for_desktop {
      padding-top: 120px;
    }
  }

  &--button {
    padding-top: 0;
    padding-bottom: 55px;

    @include for_tablet {
      padding-top: 3px;
      padding-bottom: $padding_tablet;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @include for_desktop {
      padding-left: 225px;
      padding-right: 225px;
    }
  }
}

.order__explanation {
  @include font_character($font_size_videoblog_description,
                          $line_height_videoblog_description,
                          $font_weight_videoblog_description,
                          $color_videoblog_description);
  margin: 0;

  @include for_desktop {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.order__fieldset {
  border: none;
  padding: 0;

  @include for_tablet {
    &:nth-of-type(2n) {
      background-color: $background_footer;
    }
  }
}

.order__query {
  @include font_character($font_size_order_query,
                          $line_height_order_query,
                          $font_weight_order_query,
                          $color_order_query);
  text-transform: uppercase;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;

  @include for_tablet {
    width: 167px;
  }

  @include for_desktop {
    width: 175px;
  }
}

.order__list {
  @include list_default_remove;

  @include for_tablet {
    width: 501px;
  }

  @include for_desktop {
    width: 700px;

    &--color {
      width: 875px;
    }
  }
}

.order__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 60px;
}

.order__list--username .order__item {
  flex-wrap: wrap;
}

.order__description {
  @include font_character($font_size_order_description,
                            $line_height_order_description,
                            $font_weight_order_description,
                            $color_order_description);

  display: block;

  &--radio,
  &--checkbox {
    position: relative;
    padding-left: 62px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;

      border: 2px solid #b4b4b4;
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
      padding: 10px;
    }
  }
}

.order__input:checked + .order__description {
  &--radio {
    &::before {
      background-color: #62d1ba;
      background-clip: content-box;
    }
  }

  &--checkbox {
    &::before {
      background: url("../img/icon-tick.svg") no-repeat 45% 55%;
      background-size: 20px 20px;
    }
  }
}

.order__input:hover + .order__description,
.order__input:focus + .order__description {
  &--radio {
    &::before {
      @include for_desktop {
        border: 2px solid #c0ede3;
      }
    }
  }

  &--checkbox {
    &::before {
      @include for_desktop {
        border: 2px solid #c0ede3;
      }
    }
  }
}

.order__input:active + .order__description {
  &--radio {
    &::before {
      @include for_desktop {
        border: 2px solid #e9e9e9;
      }
    }
  }

  &--checkbox {
    &::before {
      @include for_desktop {
        border: 2px solid #e9e9e9;
      }
    }
  }
}

.order__input {
  &--text,
  &--tel,
  &--email {
    @include font_character($font_size_order,
                            $line_height_order,
                            $font_weight_order,
                            $color_order);
    border: none;
    border-bottom: 2px solid $border_color_input;
    width: 100%;
    background-color: inherit;

    @include for_tablet {
      width: 101px;
    }

    @include for_desktop {
      width: 700px;
      margin-right: 175px;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        border-bottom: 2px solid #c0ede3;
      }
    }

    &::placeholder {
      @include font_character($font_size_order_placeholder,
                              $line_height_order_placeholder,
                              $font_weight_order_placeholder,
                              $color_order_placeholder);
      font-family: $font_family;
    }
  }

  &--tel,
  &--email {
    padding-right: 40px;
  }

  &--tel {
    background: url("../img/icon-phone.svg") no-repeat 96.4% 50%;
  }

  &--email {
    background: url("../img/icon-mail.svg") no-repeat 98.1% 50%;
  }

  &--add {
    @include font_character($font_size_order,
                            $line_height_order,
                            $font_weight_order,
                            $color_order);
    border: 2px solid $color_body;
    width: 100%;

    @include for_tablet {
      width: 101px;
    }

    @include for_desktop {
      width: 700px;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        border: 2px solid #c0ede3;
      }
    }

    &::placeholder {
      @include font_character($font_size_order_placeholder,
                              $line_height_order_placeholder,
                              $font_weight_order_placeholder,
                              $color_order_placeholder);
      font-family: $font_family;
    }
  }
}

.order__footnote {
  @include font_character($font_size_order_footnote,
                          $line_height_order_footnote,
                          $font_weight_order_footnote,
                          $color_order_footnote);
  margin: 0;
  padding-bottom: $padding_mobile;
}

.order__button {
  width: 100%;

  @include for_tablet {
    width: 229px;
  }
}
