.order__inner {
  @include for_tablet {
    padding-top: 31px;
    padding-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: stretch;
  }

  &--induction {
    padding-top: 22px;
    padding-bottom: 0;

    @include for_tablet {
      padding-top: 75px;
    }

    @include for_desktop {
      padding-top: 120px;
    }
  }

  &--color {
    @include for_tablet {
      padding-bottom: 25px;
    }
  }

  &--username {
    @include for_tablet {
      padding-top: 41px;
    }

    @include for_desktop {
      padding-top: 43px;
    }
  }

  &--contacts {
    min-height: 228px;

    @include for_tablet {
      padding-top: 50px;
      padding-bottom: 27px;
    }

    @include for_desktop {
      padding-right: 225px;
    }
  }

  &--wishes {
    @include for_tablet {
      flex-wrap: nowrap;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include for_desktop {
      padding-bottom: 46px;
    }
  }

  &--button {
    padding-top: 0;
    padding-bottom: 55px;

    @include for_tablet {
      padding-top: 3px;
      padding-bottom: 33px;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @include for_desktop {
      padding-left: 225px;
      padding-right: 225px;
    }
  }
}

.order__explanation {
  @include font_character($font_size_order_explanation,
                          $line_height_order_explanation,
                          $font_weight_order_explanation,
                          $color_order_explanation);
  margin: 0;
  padding-bottom: 15px;

  @include for_tablet {
    @include font_character($font_size_order_explanation_tablet,
                            $line_height_order_explanation_tablet,
                            $font_weight_videoblog_description,
                            $color_videoblog_description);
  }

  @include for_desktop {
    padding-left: 175px;
    padding-right: 175px;
  }
}

.order__fieldset {
  border: none;
  padding: 0;

  @include for_tablet {
    &:nth-of-type(2n) {
      background-color: $background_footer;
    }
  }
}

.order__query {
  @include font_character($font_size_order_query,
                          $line_height_order_query,
                          $font_weight_order_query,
                          $color_order_query);
  text-transform: uppercase;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 25px;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;

  @include for_tablet {
    display: block;
    width: 167px;
    padding-top: 27px;
  }

  @include for_desktop {
    width: 175px;
    text-align: center;
    padding-top: 28px;
    padding-right: 10px;
  }

  &--color {
    padding-bottom: 26px;

    @include for_tablet {
      padding-top: 36px;
      padding-bottom: 22px;
    }

    @include for_desktop {
      padding-top: 37px;
    }
  }

  &--tel {
    padding-top: 13px;
    padding-bottom: 15px;

    @include for_tablet {
      padding: 0;
    }

    @include for_desktop {
      padding-right: 20px;
    }
  }

  &--email {
    padding-bottom: 16px;

    @include for_tablet {
      padding: 0;
    }

    @include for_desktop {
      padding-left: 5px;
      padding-top: 5px;
    }
  }

  &--add {
    padding-top: 0;
    padding-bottom: 24px;

    @include for_tablet {
      padding-top: 17px;
    }
  }
}

.order__line {
  flex-grow: 1;
  height: 1px;
  margin-left: 20px;
  background-color: $turquoise_2;

  @include for_tablet {
    display: none;
  }
}

.order__list {
  @include list_default_remove;

  @include for_tablet {
    width: 501px;
  }

  @include for_desktop {
    width: 700px;
  }
}

.order__list--color {
  @include for_tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    padding-top: 19px;
  }

  @include for_desktop {
    width: 800px;
  }

  .order__item {
    @include for_tablet {
      min-width: 220px;
      margin-bottom: 15px;

      &:nth-child(2n+1) {
        margin-right: 42px;
      }
    }

    @include for_desktop {
      min-width: 262px;

      &:nth-child(2n+1) {
        margin-right: 0;
      }
    }
  }
}

.order__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.order__list--username .order__item {
  flex-wrap: wrap;
  min-height: 70px;
  margin-bottom: 13px;

  @include for_tablet {
    margin-bottom: 14px;
    min-height: 57px;
    align-items: flex-end;
  }

  @include for_desktop {
    flex-wrap: nowrap;
  }
}

.order__description {
  @include font_character($font_size_order_description,
                            $line_height_order_description,
                            $font_weight_order_description,
                            $color_order_description);

  display: block;
  min-height: 61px;

  @include for_tablet {
    @include font_character($font_size_order_description_tablet,
                            $line_height_order_description,
                            $font_weight_order_description,
                            $color_order_description);
  }

  @include for_desktop {
    cursor: pointer;
  }

  &--radio,
  &--checkbox {
    position: relative;
    padding-top: 9px;
    padding-left: 62px;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 40px;
      height: 39px;

      border: 2px solid $gray;

      @include for_tablet {
        width: 54px;
        height: 52px;
      }
    }
  }

  &--checkbox {
    @include for_tablet {
      padding-top: 15px;
      padding-left: 80px;
    }
  }

  &--radio {
    @include for_tablet {
      margin-bottom: 15px;
      padding-top: 25px;
      padding-left: 81px;
    }

    &::before {
      border-radius: 50%;
      padding: 10px;

      @include for_tablet {
        top: 10px;
        width: 52px;
        height: 53px;
        padding: 14px;
      }
    }
  }
}

.order__description--text {
  min-height: 33px;
  padding-top: 4px;
  padding-bottom: 14px;

  @include for_tablet {
    padding-right: 25px;
    padding-bottom: 19px;
  }
}

.order__input:checked + .order__description {
  &--radio {
    &::before {
      background-color: $turquoise_1;
      background-clip: content-box;
    }
  }

  &--checkbox {
    &::before {
      top: -2px;
      width: 40px;
      height: 39px;
      background-image: url("../img/icon-tick.svg");
      background-size: 22px 22px;
      background-repeat: no-repeat;
      background-position: 45% 58%;

      @include for_tablet {
        width: 54px;
        height: 52px;
        background-size: 33px 22px;
        background-position: 50% 55%;
        top: 0;
      }
    }
  }
}

.order__input:hover + .order__description,
.order__input:focus + .order__description {
  &--radio {
    &::before {
      @include for_desktop {
        border: 2px solid $turquoise_1;
      }
    }
  }

  &--checkbox {
    &::before {
      @include for_desktop {
        border: 2px solid $turquoise_1;
      }
    }
  }
}

.order__input:active + .order__description {
  &--radio {
    &::before {
      @include for_desktop {
        border: 2px solid $white_input;
      }
    }
  }

  &--checkbox {
    &::before {
      @include for_desktop {
        border: 2px solid $white_input;
      }
    }
  }
}

.order__input {
  &--text,
  &--tel,
  &--email {
    @include font_character($font_size_order,
                            $line_height_order,
                            $font_weight_order,
                            $color_order);
    border: none;
    border-bottom: 2px solid $border_color_input;
    width: 100%;
    background-color: inherit;

    @include for_tablet {
      width: 101px;
    }

    @include for_desktop {
      width: 700px;
      margin-right: 175px;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        border-bottom: 2px solid $turquoise_1;
      }
    }

    &::placeholder {
      @include font_character($font_size_order_placeholder,
                              $line_height_order_placeholder,
                              $font_weight_order_placeholder,
                              $color_order_placeholder);
      font-family: $font_family;

      @include for_tablet {
        @include font_character($font_size_order_placeholder_tablet,
                                $line_height_order_placeholder,
                                $font_weight_order_placeholder,
                                $color_order_placeholder);
      }
    }
  }

  &--text {
    padding-bottom: 14px;
    margin-top: -5px;
    margin-bottom: 5px;

    @include for_tablet {
      margin: 0;
      padding-top: 20px;
      padding-left: 16px;
      flex-grow: 1;
    }

    @include for_desktop {
      margin-right: 0;
    }
  }

  &--tel,
  &--email {
    padding-right: 40px;
    padding-bottom: 15px;
    background-repeat: no-repeat;

    @include for_tablet {
      flex-grow: 1;
      padding: 0;
      padding-left: 16px;
      padding-right: 75px;
      margin: 0;
      min-height: 52px;
    }
  }

  &--tel {
    margin-bottom: 23px;

    @include for_tablet {
      margin: 0;
    }
  }

  &--add {
    @include font_character($font_size_order,
                            $line_height_order,
                            $font_weight_order,
                            $color_order);
    border: 2px solid $color_body;
    width: 100%;
    min-height: 142px;
    padding: 14px;

    @include for_tablet {
      flex-grow: 1;
      margin-left: 45px;
    }

    @include for_desktop {
      flex-grow: 0;
      margin-left: 0;
      width: 700px;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        outline: none;
        border: 2px solid $turquoise_1;
      }
    }

    &::placeholder {
      @include font_character($font_size_order_placeholder,
                              $line_height_order_placeholder,
                              $font_weight_order_placeholder,
                              $color_order_placeholder);
      font-family: $font_family;

      @include for_tablet {
        @include font_character($font_size_order_placeholder_tablet,
                                $line_height_order_placeholder,
                                $font_weight_order_placeholder,
                                $color_order_placeholder);
      }
    }
  }
}

.order__wrapper-input {
  position: relative;

  @include for_tablet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.order__wrapper-icon {
  opacity: 0.2;
  position: absolute;

  @include for_tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 52px;
  }

  @include for_desktop {
    padding-left: 34px;
  }

  &--tel {
    right: 8px;
    bottom: 34px;

    @include for_tablet {
      right: 0;
      top: 0;
    }
  }

  &--email {
    right: 5px;
    bottom: 5px;

    @include for_tablet {
      right: 0;
      top: 0;
    }
  }
}

.order__icon {
  fill: currentColor;
}

.order__input--tel:hover + .order__wrapper-icon,
.order__input--email:hover + .order__wrapper-icon {
  @include for_desktop {
    color: $turquoise_1;
    opacity: 1;
  }
}

.order__input--tel:focus + .order__wrapper-icon,
.order__input--email:focus + .order__wrapper-icon {
  color: $turquoise_1;
  opacity: 1;
}

.order__footnote {
  @include font_character($font_size_order_footnote,
                          $line_height_order_footnote,
                          $font_weight_order_footnote,
                          $color_order_footnote);
  margin: 0;
  padding-top: 10px;
  padding-bottom: $padding_mobile;

  @include for_tablet {
    @include font_character($font_size_order_footnote_tablet,
                          $line_height_order_footnote_tablet,
                          $font_weight_order_footnote,
                          $color_order_footnote);

    padding-top: 9px;
  }
}

.order__button {
  width: 100%;

  @include for_tablet {
    width: 229px;
  }
}
