// Локальные переменные блока product
$border_color_product: #ededed; // border_color - border-color

$color_link-heading_hover: #000000; // color - color
$color_link-heading_active: #000000; // color - color

$background_color_link-image: #e5e5e5; // background_color - background-color

$border_color_link-image: #ececec; // border_color - border-color

$border_color_price: #ececec; // border_color - border-color

.product {
  display: flex;
  flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;

  @include for_tablet {
    min-height: 334px;
    position: relative;
    padding-left: 50%;
    padding-right: 32px;
  }

  @include for_desktop {
    position: static;
    width: 316px;
    padding-left: 26px;
    padding-right: 33px;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba($color: #000000, $alpha: 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba($color: #000000, $alpha: 0.1);
    }
  }

  border: 1px solid $border_color_product;
}

.product__heading {
  @include font_character($font_size_product_heading,
                          $line_height_product_heading,
                          $font_weight_product_heading,
                          $color_product_heading);
  margin: 0;
  padding-bottom: 5px;

  @include for_tablet {
    @include font_character($font_size_product_heading_tablet,
                            $line_height_product_heading,
                            $font_weight_product_heading,
                            $color_product_heading);
    margin-left: 26px;
    margin-top: 25px;
    margin-right: 44px;
  }

  @include for_desktop {
    margin-left: 0;
    margin-right: 15px;
    margin-top: 26px;
  }
}

.product__link-heading {
  @include link_default_remove;

  outline: none;

  @include for_desktop {
    &:hover,
    &:focus {
      color: rgba($color: $color_link-heading_hover, $alpha: $hover_opacity);
    }

    &:active {
      color: rgba($color: $color_link-heading_active, $alpha: $active_opacity);
    }
  }
}

.product__profile {
  @include font_character($font_size_product_profile,
                          $line_height_product_profile,
                          $font_weight_product_profile,
                          $color_product_profile);
  margin: 0;
  padding-bottom: 19px;

  @include for_tablet {
    @include font_character($font_size_product_profile_tablet,
                            $line_height_product_profile,
                            $font_weight_product_profile,
                            $color_product_profile);
    margin-left: 26px;
  }

  @include for_desktop {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 14px;
  }
}

.product__link-image {
  order: -1;
  display: block;
  width: 260px;
  height: 195px;
  margin-left: -28px;
  margin-bottom: 26px;
  background-color: $background_color_link-image;

  @include for_tablet {
    width: 334px;
    height: 334px;
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: 0;
    position: absolute;
    max-width: 50%;
    top: 0;
    left: 0;
  }

  @include for_desktop {
    position: static;
    max-width: none;
    width: 316px;
    height: 462px;
    margin-left: -27px;
    border-bottom: 1px solid $border_color_link-image;
  }
}

.product__price {
  @include font_character($font_size_product_price,
                          $line_height_product_price,
                          $font_weight_product_price,
                          $color_product_price);
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 27px;
  border-top: 1px solid $border_color_price;

  @include for_tablet {
    @include font_character($font_size_product_price_tablet,
                            $line_height_product_price,
                            $font_weight_product_price,
                            $color_product_price);
    margin-left: 31px;
    margin-top: auto;
    padding-top: 22px;
    padding-bottom: 26px;
  }

  @include for_desktop {
    margin-left: 0;
  }
}

.product__cart {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: auto;

  background: url("../img/icon-cart.svg") no-repeat 50% 50%;

  @include for_tablet {
    // width: 21px;
    // height: 18px;
  }
}
