.socials__inner {
  width: $width_mobile - $padding_mobile - $padding_mobile;
  padding-left: $padding_mobile + 7;
  padding-right: $padding_mobile + 12;
  padding-top: $padding_mobile - 5;
  padding-bottom: $padding_mobile - 5;
}

.socials__list {
  @include list_default_remove;
}

.socials__link {
  color: $black;
}

.socials__svg {
  fill: currentColor;
}

.socials__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.socials__link {
  display: block;
}
