.title {
  @include font-character($font_size_title,
                          $line_height_title,
                          $font_weight_title,
                          $color_title);

  background-color: $background_footer;
  margin: 0;
}

@media (min-width: $breakpoint_mobile) {
  .title__inner {
    @include margin_lr_auto;

    width: $width_mobile;
    text-align: center;
    // Временные свойства
    min-height: 282px;
  }
}
