// Локальные переменные блока topical
$color_link_hover: #000000;
$color_link_active: #000000;

.topical {
  @include only_desktop;
  @include list_default_remove;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
}

.topical__item {
  &:not(:first-child) {
    margin-left: 62px;
  }
}

.topical__link {
  @include link_default_remove;
  @include font-character($font_size_topical,
                          $line_height_topical,
                          $font_weight_topical,
                          $color_topical);

  outline: none;

  @include for_desktop {
    &:hover,
    &:focus {
      color: rgba($color: $color_link_hover, $alpha: $hover_opacity);
    }

    &:active {
      color: rgba($color: $color_link_active, $alpha: $active_opacity);
    }
  }
}
