// Локальные переменные блока topical
$clr_link_hover: #000000; // clr - color
$clr_link_active: #000000; // clr - color

.topical {
  @include only_desktop;
  @include list_default_remove;

  display: flex;
  flex-wrap: wrap;
}

.topical__item {
  &:not(:first-child) {
    margin-left: 62px;
  }
}

.topical__link {
  @include link_default_remove;
  @include font-character($font_size_topical,
                          $line_height_topical,
                          $font_weight_topical,
                          $color_topical);

  outline: none;

  &:hover,
  &:focus {
    color: rgba($color: $clr_link_hover, $alpha: $hover_opacity);
  }

  &:active {
    color: rgba($color: $clr_link_active, $alpha: $active_opacity);
  }
}
