.videoblog__inner {
  width: $width_mobile - $padding_mobile - $padding_mobile;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: $padding_mobile + 2;
  border: 1px solid $border_color_product;
  margin-bottom: $padding_mobile + $padding_mobile - 2;

  @include for_tablet {
    position: relative;
    padding-top: $padding_tablet * 9 + 5;
    padding-bottom: $padding_tablet - 5;
    margin-bottom: $padding_tablet + 13;
    width: $width_tablet - $padding_tablet - $padding_tablet;
  }
}

.videoblog__heading {
  @include font_character($font_size_product_heading,
                          $line_height_product_heading,
                          $font_weight_product_heading,
                          $color_product_heading);
  margin: 0;
  padding-left: $padding_mobile + $padding_mobile + $padding_mobile;
  padding-right: $padding_mobile - 15;
  padding-top: $padding_mobile - 10;
  padding-bottom: $padding_mobile - 10;

  @include for_tablet {
    border: 1px solid $border_color_product;
    border-bottom: none;
    width: $width_tablet - $padding_tablet - $padding_tablet;
    margin-left: -1px;
    padding-top: $padding_tablet - 15;
    padding-bottom: $padding_tablet - 15;
    padding-left: $padding_tablet + $padding_tablet + 6;
    padding-right: $padding_tablet - 10;
  }
}

.videoblog__description {
  @include font_character($font_size_videoblog_description,
                          $line_height_videoblog_description,
                          $font_weight_videoblog_description,
                          $color_videoblog_description);
  margin: 0;
  padding-left: $padding_mobile + 3;
  padding-right: $padding_mobile + 3;
  padding-bottom: $padding_mobile - 5;

  @include for_tablet {
    padding-left: $padding_tablet - 10;
    padding-right: $padding_tablet - 10;
  }
}

.videoblog__content-wrapper {
  margin-left: $padding_mobile - 31;
  padding-bottom: $padding_mobile;

  @include for_tablet {
    position: absolute;
    top: -1px;
    left: 0;
  }
}

.videoblog__content {
  @include for_tablet {
    width: $width_tablet - $padding_tablet - $padding_tablet;
    height: 455px;
  }
}

.videoblog__button {
  margin-left: $padding_mobile + 3;
  margin-right: $padding_mobile + 3;

  @include for_tablet {
    margin-left: $padding_tablet - 9;
    margin-right: $padding_tablet - 9;
  }
}
