@charset 'utf-8';

// расширения
@mixin for-phone-only {
  @media (width: 320px)
  {
    @content;
  }
}

@mixin for-tablet-up {
  @media (width: 768px)
  {
    @content;
  }
}

@mixin for-desktop-up {
  @media (width: 1150px)
  {
    @content;
  }
}

// базовые характеристики текста
@mixin font_character($size, $height, $weight, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

// сброс оформления списка поумолчанию
@mixin list_default_remove {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin product {
  .product__heading {
    @include font_character($font_size_product_heading,
                            $line_height_product_heading,
                            $font_weight_product_heading,
                            $color_product_heading);
    margin: 0;
  }

  .product__profile {
    @include font_character($font_size_product_profile,
                            $line_height_product_profile,
                            $font_weight_product_profile,
                            $color_product_profile);
    margin: 0;
  }

  .product__price {
    @include font_character($font_size_product_price,
                            $line_height_product_price,
                            $font_weight_product_price,
                            $color_product_price);
    margin: 0;
  }
}
