// расширения
@mixin for_mobile {
  @media (min-width: $breakpoint_mobile) {
    @content;
  }
}

@mixin for_tablet {
  @media (min-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin for_desktop {
  @media (min-width: $breakpoint_desktop) {
    @content;
  }
}

// базовые характеристики текста
@mixin font_character($size, $height, $weight, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

// сброс оформления списка поумолчанию
@mixin list_default_remove {
  list-style: none;
  padding: 0;
  margin: 0;
}

// сброс оформления по умолчанию у ссылок <a>
@mixin link_default_remove {
  text-decoration: none;
  color: inherit;
  outline: none;
}

// отображение только на мобильной версии
@mixin only_mobile {
  @media (min-width: $breakpoint_tablet) {
    display: none;
  }
}

// отображение только на планшетной версии
@mixin only_tablet {
  @media (max-width: $breakpoint_tablet - 1), (min-width: $breakpoint_desktop) {
    display: none;
  }
}

// отображение только на десктопной версии
@mixin only_desktop {
  @media (max-width: $breakpoint_desktop - 1) {
    display: none;
  }
}
