// Переменная с шрифтами
$font_family: "Open Sans", "Arial", sans-serif;
// Переменные для H1
$font_size_title: 27px;

// Переменные цвета
$black: #000000;
$black_shadow: #000101;
$black_opacity: rgba(68, 68, 68, 0.3);
$white: #ffffff;
$white_input: #e9e9e9;
$dirty_white_1: #ececec;
$dirty_white_2: #ededed;
$dirty_white_3: #f1f1f1;
$dirty_white_4: #e5e5e5;
$dirty_white_5: #dfdfdf;
$turquoise_1: #62d1ba;
$turquoise_2: #63d1bb;
$turquoise_3: #56c3b2;
$turquoise_4: #7ae7d1;
$turquoise_hover: #46c1ae;
$beige: #c6c6c6;
$gray: #444444;

// Переменные для label
$font_size_label: 15px;
$line_height_label: 24px;
$font_weight_label: normal;
$color_label: $black;

// Переменные для topical
$font_size_topical: 15px;
$line_height_topical: 24px;
$font_weight_topical: bold;
$color_topical: $black;

// брейкпоинты
$breakpoint_mobile: 320px;
$breakpoint_tablet: 768px;
$breakpoint_desktop: 1150px;

// Переменные для ретинового медиавыражения
$retina_dppx: 1.5dppx;

// переменные для сетки mobile версии
$width_mobile: 320px;
$padding_mobile: 30px;
// переменные для сетки tablet версии
$width_tablet: 768px;
$padding_tablet: 50px;
// переменные для сетки desktop версии
$width_desktop: 1150px;
$padding_desktop: 50px;

// Относительные переменные

// Переменные для заголовков блоков Н2
// for_mobile
$font_size_heading: 25px;
$line_height_heading: 30px;
$font_weight_heading: bold;
$color_heading: $black;
// for_tablet
$font_size_heading_tablet: 43px;
$line_height_heading_tablet: 50px;
// for_desktop
$font_size_heading_desktop: 53px;
$line_height_heading_desktop: 57px;

$border_color: $dirty_white_1;
$border_color_copyright: $dirty_white_4;
$border_color_product: $dirty_white_2;
$border_color_input: $black;
$border_color_email: $turquoise_1;
$border_color_modal: $beige;
$background_color_body: $white;
$color_body: $gray;
$background_link_interior: $turquoise_2;
$background_link_toys: $turquoise_3;
$background_footer: $dirty_white_3;

// Переменные для навигации NAV
$font_size_nav: 17px;
$line_height_nav: 24px;
$font_weight_nav: bold;
$color_nav: $black;
$color_icon_hover: $turquoise_2;
// tablet
$font_size_nav_tablet: 15px;
// Переменные для Категорий CATEGORIES
// мобильная версия
$font_size_categories: 19px;
$line_height_categories: 24px;
$font_weight_categories: bold;
$color_categories: $white;
// планшетная версия
$font_size_categories_tablet: 20px;
$line_height_categories_tablet: 30px;

// Переменные для Товара недели HIGHLIGHT
// highlight_heading
// highlight_heading_desktop
// highlight_naming
$font_size_highlight_naming: 17px;
$line_height_highlight_naming: 17px;
$font_weight_highlight_naming: bold;
$color_highlight_naming: $turquoise_2;
// highlight__description
$font_size_highlight_description: 15px;
$line_height_highlight_description: 24px;
$font_weight_highlight_description: normal;
$color_highlight_description: $gray;
// highlight__description_tablet
$font_size_highlight_description_tablet: 17px;
$line_height_highlight_description_tablet: 30px;
// highlight__table
$font_size_highlight_table: 15px;
$line_height_highlight_table: 20px;
$font_weight_highlight_table: normal;
$color_highlight_table: $gray;
// highlight__table
$font_size_highlight_price_tablet: 20px;
$line_height_highlight_price_tablet: 24px;
$font_weight_highlight_price_tablet: bold;
$color_highlight_price_tablet: $gray;

// Переменные для кнопок BUTTON
$font_size_button: 17px;
$line_height_button: 20px;
$font_weight_button: bold;
$color_button: $black;

// Переменные для Преимуществ features
// features_heading_tablet
// features_heading_desktop
$font_size_features_heading_desktop: 53px;
$line_height_features_heading_desktop: 58px;
// features__list
$font_size_features_list: 17px;
$line_height_features_list: 20px;
$font_weight_features_list: bold;
$color_features_list: $black;
// features_list_tablet
$font_size_features_list_tablet: 20px;
$line_height_features_list_tablet: 22px;

// Переменные для FOOTER
//footer__copyright
$font_size_footer_copyright: 19px;
$line_height_footer_copyright: 18px;
$font_weight_footer_copyright: bold;
$color_footer_copyright: $black;

// Переменные для MODAL
//heading_tablet
$font_size_heading_modal_tablet: 30px;
$line_height_heading_modal_tablet: 57px;
$font_weight_heading_modal_tablet: bold;
$color_heading_modal_tablet: $black;
// query
$font_size_modal_query: 15px;
$line_height_modal_query: 30px;
$font_weight_modal_query: normal;
$color_modal_query: $gray;
// query_tablet
$font_size_modal_query_tablet: 17px;
// description
$font_size_modal_description: 17px;
$line_height_modal_description: 16px;
$font_weight_modal_description: bold;
$color_modal_description: $gray;
//modal__button
$font_size_modal_button: 17px;
$line_height_modal_button: 16px;
$font_weight_modal_button: bold;
$color_modal_button: $white;

// Переменные для каталога CATALOG
// product__heading
$font_size_product_heading: 17px;
$line_height_product_heading: 24px;
$font_weight_product_heading: bold;
$color_product_heading: $black;
// product__heading_tablet
$font_size_product_heading_tablet: 20px;
// product__profile
$font_size_product_profile: 13px;
$line_height_product_profile: 30px;
$font_weight_product_profile: normal;
$color_product_profile: $gray;
// product__profile_tablet
$font_size_product_profile_tablet: 15px;
// product_price
$font_size_product_price: 15px;
$line_height_product_price: 24px;
$font_weight_product_price: bold;
$color_product_price: $black;
// product_price_tablet
$font_size_product_price_tablet: 17px;

// Переменные для COMMENTS
// comments__heading
$font_size_comments_content: 15px;
$line_height_comments_content: 30px;
$font_weight_comments_content: normal;
$color_comments_content: $gray;
// tablet
$font_size_comments_content_tablet: 17px;
// Переменные для comments__author
$font_size_comments_author: 17px;
$line_height_comments_author: 24px;
$font_weight_comments_author: bold;
$color_comments_author: $black;
// tablet
$font_size_comments_author_tablet: 18px;
// Переменные для comments__heading
$font_size_comments_login: 17px;
$line_height_comments_login: 30px;
$font_weight_comments_login: normal;
$color_comments_login: $gray;

// Переменные для CONTACTS
// heading
$font_size_contacts_heading: 18px;
$line_height_contacts_heading: 30px;
$font_weight_contacts_heading: bold;
$color_contacts_heading: $black;
// contacts__list
// mobile
$font_size_contacts_list: 15px;
$line_height_contacts_list: 30px;
$font_weight_contacts_list: normal;
$color_contacts_list: $gray;
// tablet
$font_size_contacts_list_tablet: 17px;

// Переменные для VIDEOBLOG
// videoblog__description
$font_size_videoblog_description: 13px;
$line_height_videoblog_description: 24px;
$font_weight_videoblog_description: normal;
$color_videoblog_description: $gray;
// tablet
$font_size_videoblog_description_tablet: 15px;
$line_height_videoblog_description_tablet: 30px;

// Переменные для ORDER
// order__explanation
$font_size_order_explanation: 13px;
$line_height_order_explanation: 24px;
$font_weight_order_explanation: normal;
$color_order_explanation: $gray;
// tablet
$font_size_order_explanation_tablet: 17px;
$line_height_order_explanation_tablet: 30px;
// order__query
$font_size_order_query: 17px;
$line_height_order_query: 16px;
$font_weight_order_query: bold;
$color_order_query: $turquoise_2;
// order__description
$font_size_order_description: 17px;
$line_height_order_description: 18px;
$font_weight_order_description: bold;
$color_order_description: $black;
// tablet
$font_size_order_description_tablet: 19px;
// order__input--text
$font_size_order: 19px;
$line_height_order: 18px;
$font_weight_order: normal;
$color_order: $gray;
// order__placeholder
$font_size_order_placeholder: 17px;
$line_height_order_placeholder: 18px;
$font_weight_order_placeholder: normal;
$color_order_placeholder: $black_opacity;
// tablet
$font_size_order_placeholder_tablet: 19px;
// order__footnote
$font_size_order_footnote: 14px;
$line_height_order_footnote: 16px;
$font_weight_order_footnote: normal;
$color_order_footnote: $gray;
// tablet
$font_size_order_footnote_tablet: 17px;
$line_height_order_footnote_tablet: 30px;

// styleguide
$hover_opacity: 0.6; // :hover
$active_opacity: 0.3; // :active
